// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title.text-center.why{
  margin-bottom: 60px;
}

.account {
  width: 200px;
  height: 61px;
}

.btn-cons {
  margin-right: 25px;
  min-width: 120px;
  margin-bottom: 8px;
}